* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
}

body {
  background-color: #dbe4ff;
  /* background-image:
   linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url("../assets/picture14.png"); */


}

.app{

  max-width: 120rem;
  margin: 0 auto;

  
}

.thumb-list{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
  justify-items: center;
  row-gap: 0.5rem;
  column-gap: 0.5rem;

  margin: 2.4rem auto;

  max-width: 130rem;
  max-height: 100vh;
}
.button{
  display:flex;
  align-items: center;
  justify-content: center;
  max-width: 10rem;
  max-height: 8rem;
  background-color: #91a7ff ;
  border-radius: 2px;
  border-color: #555;
  cursor: pointer;
  padding: 1rem 0;

  

  transition: all 0.5s;

  box-shadow:  5px 5px 12px 0 rgba(0, 0,0, 0.2);
  
}

.button:hover{
  transform: scale(1.2);
}

.button-img{
  width: 90%;
}